@model WebGwenchana.ModelViews.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Login &mdash; Stisla</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/admisassets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/admisassets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/admisassets/modules/bootstrap-social/bootstrap-social.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/admisassets/css/style.css">
    <link rel="stylesheet" href="~/admisassets/css/components.css">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        <section class="section" style="margin-bottom:50px">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="login-brand">
                            <a href="/">
                                <img src="~/themeasset/images/icons/weblogo.png" alt="logo" width="150" class="shadow-light">
                            </a>
                        </div>

                        <div class="card card-primary">
                            <div class="card-header"><h4>Đăng nhập Admin</h4></div>

                            <div class="card-body">
                                <form asp-action="AdminLogin" method="Post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="UserName">Email</label>
                                        <input asp-for="UserName" type="email" class="form-control" tabindex="1" required autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in your email
                                        </div>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <div class="d-block">
                                            <label asp-for="Password" class="control-label">Password</label>
                                        </div>
                                        <input asp-for="Password" type="password" class="form-control" name="password" tabindex="2" required>
                                        <div class="invalid-feedback">
                                            please fill in your password
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                   @*  <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                                            <label class="custom-control-label" for="remember-me">Remember Me</label>
                                        </div>
                                    </div> *@

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Đăng nhập
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- General JS Scripts -->
    <script src="~/admisassets/modules/jquery.min.js"></script>
    <script src="~/admisassets/modules/popper.js"></script>
    <script src="~/admisassets/modules/tooltip.js"></script>
    <script src="~/admisassets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admisassets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/admisassets/modules/moment.min.js"></script>
    <script src="~/admisassets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="~/admisassets/js/scripts.js"></script>
    <script src="~/admisassets/js/custom.js"></script>
    @await Component.InvokeAsync("Notyf")
</body>
</html>