@model WebGwenchana.ModelViews.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Đăng ký</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/admisassets/modules/bootstrap/css/bootstrap.min.css">
    <link rel=""
    <link rel="stylesheet" href="~/admisassets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/admisassets/modules/jquery-selectric/selectric.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/admisassets/css/style.css">
    <link rel="stylesheet" href="~/admisassets/css/components.css">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                        <div class="login-brand">
                            <a href="/">
                                <img src="~/themeasset/images/icons/weblogo.png" alt="logo" width="150" class="shadow-light">
                            </a>
                        </div>

                        <div class="card card-primary">
                            <div class="card-header"><h4>ĐĂNG KÝ</h4></div>

                            <div class="card-body">
                                <form asp-action="DangkyTaiKhoan">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="form-group col-12">
                                            <label asp-for="FullName">Họ và tên</label>
                                            <input asp-for="FullName" type="text" class="form-control" autofocus>
                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email">Email</label>
                                        <input asp-for="Email" type="email" class="form-control">
                                        <div class="invalid-feedback">
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label asp-for="Password" class="d-block">Password</label>
                                            <input asp-for="Password" type="password" class="form-control pwstrength" data-indicator="pwindicator">
                                            <div id="pwindicator" class="pwindicator">
                                                <div class="bar"></div>
                                                <div class="label"></div>
                                            </div>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6">
                                            <label asp-for="ConfirmPassword" class="d-block">Password Confirmation</label>
                                            <input asp-for="ConfirmPassword" type="password" class="form-control">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Phone">Số điện thoại</label>
                                        <input asp-for="Phone" type="text" class="form-control">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                                            Đăng ký
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- General JS Scripts -->
    <script src="~/admisassets/modules/jquery.min.js"></script>
    <script src="~/admisassets/modules/popper.js"></script>
    <script src="~/admisassets/modules/tooltip.js"></script>
    <script src="~/admisassets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admisassets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/admisassets/modules/moment.min.js"></script>
    <script src="~/admisassets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="~/admisassets/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script src="~/admisassets/modules/jquery-selectric/jquery.selectric.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/admisassets/js/page/auth-register.js"></script>

    <!-- Template JS File -->
    <script src="~/admisassets/js/scripts.js"></script>
    <script src="~/admisassets/js/custom.js"></script>
</body>
</html>
