
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<partial name="_Header2" />
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-150" style="background-image: url(/images/starting/CAT-bongtai.jpg);">
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Về chúng tôi
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Chào mừng bạn đến Gwenchana - điểm đến trang sức thượng lưu, nơi kết hợp tinh tế và sang trọng để mang đến cho bạn trải nghiệm mua sắm tuyệt vời. Chúng tôi tự hào giới thiệu bộ sưu tập độc đáo với những thiết kế từ nhẫn đính hôn lãng mạn đến dây chuyền lấp lánh, mang đến sự lựa chọn phong phú cho mọi dịp quan trọng.
					</p>

					<p class="stext-113 cl6 p-b-26">
						Với sự cam kết về chất lượng, đội ngũ chăm sóc khách hàng nhiệt tình và dịch vụ mua sắm trực tuyến thuận tiện, Gwenchana là địa chỉ đáng tin cậy cho những người yêu trang sức. Mỗi sản phẩm tại đây không chỉ là một mảnh trang sức, mà còn là biểu tượng của sự tinh tế và đẳng cấp. Hãy đến và khám phá thế giới trang sức đẳng cấp của chúng tôi, nơi nét đẹp và chất lượng gặp nhau, tạo nên những khoảnh khắc đặc biệt trong cuộc sống của bạn. elit, vel tincidunt erat arcu ut sem. Sed rutrum, turpis ut commodo efficitur, quam velit convallis ipsum, et maximus enim ligula ac ligula.
					</p>

					<p class="stext-113 cl6 p-b-26">
						Có câu hỏi nào về chúng tôi? Cho chúng tôi biết ở tầng 82, Lankmark 81, Sài gòn hoặc gọi chúng tôi ngay: (+1) 96 716 6879
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="~/images/starting/bongtai.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Sứ mệnh
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Sứ mệnh của Gwenchana là tạo ra không gian mua sắm trang sức độc đáo và đẳng cấp, nơi mọi sản phẩm không chỉ là vật dụng trang sức mà còn là biểu tượng của cái đẹp, tinh tế và sự sang trọng. Chúng tôi cam kết mang đến cho khách hàng trải nghiệm mua sắm không giới hạn, với bộ sưu tập đa dạng được chăm chút từ những nghệ nhân tài năng.
					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">
							"Gwenchana - Nơi những giọt sáng trang sức kết nối trái tim, nâng tầm vẻ đẹp và tạo nên những khoảnh khắc đẳng cấp trong cuộc sống của bạn."
						</p>

						<span class="stext-111 cl8">
							- ChatGPT
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="~/themeasset/images/about-02.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

